---

---

<a class="link" href="#">Book a Free Strategy Session</a>

<style>
  .link {
    display: block;
    padding-block: 19px;
    padding-inline: 48px;
    color: var(--Button-Text, #fff);
    text-align: center;
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 100px;
    background: #fa0369;
    max-width: 342px;
    margin-block-end: 10px;
  }
</style>
